# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# IDE-specific
.vscode/
.idea/

# Logs and outputs
*.log
*.sqlite

# Dependency directories
*/__pycache__/